@media screen and (min-width: 1025px) { 
	.mobMenu_link{display: none;}
	#mobile_menu{height: 0px !important;}
}



@media screen and (max-width: 1025px) {

	.header_payment, .header_telephone, .nav, .main_filters {display: none;}

	.filters_mobile, #mobile_nav {display: block;}

	.main, .main_products {padding-top: 0;}

	.header {padding: 26px 0 22px 0;}

	.header_logo {
		padding-left: 4.1%;
		margin-right: 2.8%;
	}

	.search { 
		padding: 2px 0 3px 0;
		width: 71%;
	}

	.mainProducts_card {
		padding: 29px 9px 20px 9px;
		width: 33.3%;
	}

	.mainProducts_card:nth-child(2) {border-right: 1px solid #fff;}

	.mainProducts_card:nth-child(4n+3) {border-right: 1px solid #dedede;}

	.mainProducts_card:nth-child(3n+2) {border-right: 1px solid #fff;}

	.mainProducts_card:hover {border: 1px solid #265c99;}

	.card_sale {
		padding: 28px 8px 15px 30px;
		width: 66.6%;
	}

	.card_sale:hover {border: 1px solid #ffa2a2;}

	.card_sale-img {width: 35.8%;}

	.cardSale_wrapper {width: 58.3%;}

	.cardSale-description {
		padding-bottom: 41px;
		max-width: 280px;
	}

	.wrapper{padding: 0 20px;}

	.mobile_bucket {
		display: block;
		padding-top: 2px;
	}

}



@media screen and (max-width: 769px) {

	.mainProducts_card {width: 50%;}

	.card_sale {width: 100%;}

	.mainProducts_card:nth-child(1) {border-right: 1px solid #fff;}

	.card_sale:hover {border: 1px solid #ffa2a2;}

	.mainProducts_card:nth-child(2n+3) {border-right: 1px solid #fff;}

	.mainProducts_card:nth-child(even) {border-right: 1px solid #dedede;}

	.mainProducts_card:hover {border: 1px solid #265c99;}

	.header_logo {
		padding-left:  5.5%;
		margin-right: 3.8%;
	}

	.search {width: 60.5%;}

	.card_sale-img {width: 32%;}

	.card_sale {padding: 28px 0 15px 30px;}

	.cardSale_wrapper {width: 51.6%;}
}



@media screen and (max-width: 577px) {

	.mainProducts_card {width: 100%;}

	.mainProducts_card:nth-child(even) {border-right: 1px solid #fff;}

	.mainProducts_card:hover {border: 1px solid #265c99;}

	.card_sale:hover {border: 1px solid #ffa2a2;}

	.card_sale-img {
		float: none;
		margin-bottom: 30px;
		width: 220px;
	}

	.cardSale_wrapper {
		float: none;
		width: 100%;
		text-align: center;
	}

	.card_sale {padding: 28px 8px 15px 8px;}

	.search_desc{display: none;}

	.header_search {
		position: relative;
		float: right;
		right: 35px;
		width: 14px;
		border-bottom: none;
	}
}