/* === Public === */

html {
  display:block;
  min-height:100%; 
  height:100%; 
  overflow-x:hidden; 
}

body {
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.wrapper-menu {
  margin: 0 auto;
  max-width: 1300px;
}

section {
  margin: 0 auto;
  max-width: 1440px;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 64px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}

h2 {
  margin-bottom: 25px;
  font-family: 'Work Sans', sans-serif;
  font-size: 42px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #252525;
}

h3 {
  font-family: 'Work Sans', sans-serif;
  font-size: 26px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  padding:0 20px;
}

h4 {
  font-family: 'Work Sans', sans-serif;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ff2fff;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #767676;
}

.color-title {
  display: inline-block;
  color: #940194;
}

.main_button {
  display: inline-block;
  padding: 15px 50px;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.48px;
  color: #ffffff;
  border-radius: 100px;
  box-shadow: 0 5px 15px 0 rgba(237, 66, 158, 0.3);
  background-image: linear-gradient(to right, #660066, #b700b7);
}

.main_button:hover {color: #fff;}

.main_button:focus {background-image: linear-gradient(to left, #660066, #b700b7);}



/* === Nav === */

.header-transparent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header-transparent .xs-top-bar {background-color: rgba(0, 0, 0, 0.25);}

.header-transparent .xs-menus .nav-menu > li > a {color: #fff;}

.header-transparent .xs-header {border-bottom: 1px solid rgba(255, 255, 255, 0.2);}

.header-transparent .xs-menu-tools > li > a {color: #fff;}

.header-transparent .xs-menus .nav-menu > li > a::before {background-color: #fefefe;}

.xs-menus .nav-menu > li {margin-right: 20px;}

.xs-menus .nav-menu > li:last-child {margin-right: 0px;}

.xs-menus .nav-menu > li > a {
  color: #333333;
  font-size: 0.875rem;
  padding: 0 10px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.nav-menu li.active > a {color: #1bd1ea !important;}

.nav-menu li.active > a .submenu-indicator-chevron {border-color: transparent #1bd1ea #1bd1ea transparent !important;}

.nav-menu li > .nav-dropdown a.active {color: #1bd1ea !important;}

.xs-header {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.xs-header .xs-logo {
  display: block;
  padding: 40px 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.xs-header.header-style2 .xs-menus .nav-menu > li:not(:last-child) {margin-right: 25px;}

.xs-header.header-style2 .xs-menus .nav-menu > li > a {color: #fff;}

.xs-header.header-style2 .xs-menus .nav-menu > li > a .submenu-indicator-chevron {border-color: transparent #606060 #606060 transparent;}

.xs-header.header-style2 .xs-menu-tools > li > a:not(.languageSwitcher-button) {
  color: #b224ef;
  background: -webkit-linear-gradient(331deg, #b224ef 11%, #5055fa 84%);
  background: -o-linear-gradient(331deg, #b224ef 11%, #5055fa 84%);
  background: linear-gradient(119deg, #b224ef 11%, #5055fa 84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.xs-header.header-style2 .xs-menu-tools > li .lang-title {color: #fff;}

.xs-header .xs-menus .nav-menu > li > .nav-submenu {right: auto !important}

.nav-sticky.sticky-header .xs-menus .nav-menu > li > a {color: #000000;}

.xs-menu-tools {
  text-align: right;
  padding: 46px 0;
   margin-right: 20px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.xs-menu-tools > li {
  display: inline-block;
  margin-right: 20px;
}

.xs-menu-tools > li:last-child {margin-right: 0px;}

.xs-menu-tools > li > a {
  color: #333333;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.xs-menu-tools > li > a .xs-flag {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
}

.xs-menu-tools > li > a .lang-title {
  vertical-align: middle;
  font-size: 0.875rem;
}

.xs-header > .container {position: relative;}

.xs-header > .container > .row > [class^="col-"] {position: static;}

.xs-header .xs-menus .nav-menu > li .nav-submenu {border-top: 0px solid #000;}

.nav-menus-wrapper > ul {
  display: inline-block;
  padding: 30px 0;
}

.nav-menus-wrapper .nav-menu {padding-right: 55px;}

.nav-header {padding-right: 15px;}

.nav-header > .nav-brand {
  padding: 0px;
  display: inline-block;
}



/* === Modal === */


/* magnific pop up modal */

.mfp-bg.xs-promo-popup {
  background-color: rgba(0, 0, 0, 0.87);
  padding-bottom: 100%;
  border-radius: 100%;
  overflow: hidden;
  -webkit-animation: menu-animation .8s ease-out forwards;
  animation: menu-animation .8s ease-out forwards;
}


/* animation keyframes list */

@-webkit-keyframes menu-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.04) translateY(300%);
    transform: scale(0.04) translateY(300%);
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
    transform: scale(0.04) translateY(0);
    -webkit-transition: ease-out;
    -o-transition: ease-out;
    transition: ease-out;
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
    transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.02) translateY(0px);
    transform: scale(0.02) translateY(0px);
  }
  61% {
    opacity: 1;
    -webkit-transform: scale(0.04) translateY(0px);
    transform: scale(0.04) translateY(0px);
  }
  99.9% {
    opacity: 1;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(2) translateY(0px);
    transform: scale(2) translateY(0px);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}
@keyframes menu-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.04) translateY(300%);
    transform: scale(0.04) translateY(300%);
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
    transform: scale(0.04) translateY(0);
    -webkit-transition: ease-out;
    -o-transition: ease-out;
    transition: ease-out;
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
    transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.02) translateY(0px);
    transform: scale(0.02) translateY(0px);
  }
  61% {
    opacity: 1;
    -webkit-transform: scale(0.04) translateY(0px);
    transform: scale(0.04) translateY(0px);
  }
  99.9% {
    opacity: 1;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(2) translateY(0px);
    transform: scale(2) translateY(0px);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}

/* Styles for dialog window */

.xs-promo-popup .modal-content {
  background-color: transparent;
  padding: 0px;
  border: 0px;
}
.xs-promo-popup .mfp-close {
  color: #FFFFFF;
  opacity: 0;
  -webkit-transition: all 1s ease .8s;
  -o-transition: all 1s ease .8s;
  transition: all 1s ease .8s;
  -webkit-transform: translateY(-500px);
  -ms-transform: translateY(-500px);
  transform: translateY(-500px);
}
.xs-promo-popup.mfp-ready .mfp-close {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

/* at start */

.xs-promo-popup.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 1s ease .8s;
  -o-transition: all 1s ease .8s;
  transition: all 1s ease .8s;
  -webkit-transform: translateY(-500px);
  -ms-transform: translateY(-500px);
  transform: translateY(-500px);
}

/* animate in */

.xs-promo-popup.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}




/*===  Modal Flag ===*/


.language-content p {
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.25rem;
}

/* language modal */

.flag-lists {text-align: center;}

.flag-lists li {
  display: inline-block;
  margin-right: 25px;
}

.flag-lists li:last-child {margin-right: 0;}

.flag-lists li a {
  display: block;
  color: #FFFFFF;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flag-lists li a:hover {
  opacity: .7;
}

.flag-lists li a img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}



/* === Header ===*/


/*Hover Effect for header-menu*/

.xs-header {
  padding: 0 0 340px 0;
  background-image: url(/assets/images/header-white-letters.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100%;
}

@media (max-width: 640px){
.xs-header {
  background-size: 220%;}}

.xs-header.header-style2 .xs-menus .nav-menu > li > a:after {
  margin-top: 15.5px;
  border-radius: 5.5px;
  background-color: #ff2fff;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  left: 50%;
  position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
  transform:translateX(-50%);
}

.xs-header.header-style2 .xs-menus .nav-menu > li > a:hover:after, 
.xs-header.header-style2 .xs-menus .nav-menu > li > a:focus:after { width: 100%; }

.xs-header.header-style2 .xs-menus .nav-menu > li > a:hover {color: #ff2fff;}


/*Button header*/

.xs-menu-button-wrapper{display: inline-block;}

.button-request {
  padding: 15px 35px;
  font-size: 0.875rem;
  color: #fff;
  border-radius: 30px;
  border: 1px solid #fff;
}

.button-request:hover{
  color: #fff;
  background-color: #ff2fff;
  border: 1px solid #ff2fff;;
}

.headerContent_title {
  padding-top: 115px;
  margin-bottom: 35px;
  text-align: center;
}

.headerContent_button {text-align: center;}

.headerContent_button a {
  display: inline-block;
  padding: 15px 50px;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.48px;
  color: #ffffff;
  background-color: #ff2fff;
}

.header_video_wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(to right, #660066, #b700b7);
  background-position: left top;
}

.header_video {
 display: block;
 margin: -200px auto;
 width: 2000px;

}                         


@media (max-width: 640px){
.header_video {
 display: block;
 margin: -250px auto 0;
 height: 800px !important;
 width:640px !important;
}      
}

/* === Problem === */

#problem {
  padding: 60px 0 80px;
  max-width: 100%;
  border-bottom: 1px solid #FFF;
  background-color: #fff;
}

.problem_desc {padding-top: 80px;}

.problemDesc_content {margin-bottom: 40px;}

.problemDesc_bottom {
  border-radius: 100px;
  box-shadow: 0 5px 15px 0 rgba(237, 66, 158, 0.3);
  background-image: linear-gradient(to top, #660066, #b700b7);
}



/* === Answer === */

#answer {padding: 50px 0 120px;
    max-width: 100%;
    background-color: #FFF;}

.answer_title {
  width: 100%;
  text-align: center;
}

.answer_desc {text-align: center;}

.answer_blocks {padding-top: 60px;}

.answer-info-block {
  padding: 70px 30px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  min-height: 366px;
  text-align: center;
  background-color: #FFFFFF;
}

.answer-info-block:hover {
  -webkit-box-shadow: 0px 7px 25px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 7px 25px 0px rgba(0, 0, 0, 0.1);
}

.answer-info-block-content {margin-bottom: 15px;}

.answer-info-block-title {
  margin-bottom: 10px;
  height: 25px;
  overflow: hidden;
}

.answer-info-block .answer-info-img {margin-bottom: 25px;}


/* === Who === */

#who {
  max-width: 100%;
  padding: 135px 0 65px 0;
  background-image: url("/assets/images/who BG.png");
  background-position: center top;
}

.who_img {text-align: center;}


/* === Program === */

#program {padding: 100px 0 60px;}

.program_content {margin-bottom: 50px;}


/*=== Video slider ===*/

.program-intro-video{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
}

.img-play {
  display: block;
  margin: 0 auto;
}

.program-intro-video .slider-video-img{
  position: relative;
  z-index: 1;
}

.program-intro-video .btn-gradient {
  position: absolute;
  transition: .3s;
  z-index: 99;
  align-self: center;
  text-align: center;
}

.program-intro-video .btn-gradient:hover {
  transform: scale(1.1);
  transition: .3s;
}



/* === Books === */

#books {padding: 60px 0 40px;}

/*slider*/

.single-portfolio {
  position: relative;
  overflow: hidden;
}
.single-portfolio::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: -webkit-linear-gradient(to right, #660066, #b700b7);
  background-image: -o-linear-gradient(to right, #660066, #b700b7);
  background-image: linear-gradient(to right, #660066, #b700b7);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.single-portfolio .hover-area {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.single-portfolio hr {
  width: 35px;
  margin-top: 0px;
  margin-bottom: 32px;
  border-top: 2px solid #FFFFFF;
}
.single-portfolio .hover-content-title {margin-bottom: 5px;}

.single-portfolio:hover::before {
  opacity: 0.902;
}
.single-portfolio:hover .hover-area {
  top: 50%;
  opacity: 1;
}

.hover-content-author {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  line-height: 150%;
}

.hover-content-button {
  display: inline-block;
  padding: 15px 35px;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  text-transform: uppercase;
  line-height: normal;
  letter-spacing: 0.48px;
  color: #940194;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0 5px 15px 0 rgba(237, 66, 158, 0.3);
}

.hover-content-button:hover {color: #940194;}

.single-portfolio {
  padding: 20px 0;
  background-color: #ddd;
}

.single-portfolio img{margin: 0 auto;}


/* === Parents === */

#parents {padding: 185px 0 50px;}

.parentsDesc_content {margin-bottom: 50px;}


/* === Footer === */

.footerForm_desc {
  max-width: 640px;
  margin: 0 auto 40px;
  text-align: center;
}

#footer {
  padding-top: 88px;
  background-image: url("/assets/images/bg2.png");
  background-repeat: no-repeat;
  background-position: center top;
}

.footer_info {
  justify-content: space-between;
  padding: 50px 0 40px;
}

.footer_info-left {
  display: flex;
  justify-content: start;
}

.footer_logo {
  padding-right: 30px;
  border-right: 1px solid #ff2fff;
}

.footer_copyright {
  padding-left: 30px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  align-self: center;
}

.footer_links {
  display: flex;
  align-items: center;
}

.footerLinks_block {margin-right: 25px;}

.footerLinks_block:last-child {margin-right: 0;}


/* Form */

.footer_form {
  padding: 45px 0 60px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.15);
}

.button_wrapper {
  width: 100%;
  text-align: center;
}

.form_button {
  display: inline-block;
  margin: 0 auto;
}

.form_elements {margin-bottom: 35px;}

.area_inputs {
  display: flex;
  flex-direction: column;
}

.form-control_input {
  max-width: 300px;
  height: 53px;
  align-self: flex-end;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

#xs_contact_name {margin-bottom: 20px;}

.form-control:active, .form-control:focus {
  box-shadow: none;
  border-color: #b700b7;
}

.form-control_textarea {
  max-width: 300px;
  height: 126px;
  resize: none;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.form-control[placeholder] {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #252525;
}

#x_contact_massage {padding: 16px 0 0 20px; }

#xs_contact_submit {
  border: none;
  cursor: pointer;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2);
}

#xs_contact_submit:active {box-shadow: 0 0 5px 3px rgba(0, 0, 0, .2);}




